.MainDiv {
  display: flex;
  height: 750px;
}
.MainDiv > div {
  width: 50%;
}
.FirstSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #003466;
  position: relative;
  height: 100vh;
}
.logo {
  width: 228px;
  height: 228px;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: center;
  background: #d9d9d9;
  border-radius: 50%;
}
.RectangleDiv {
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 999;
  /* top: 28%; */
  width: 100%;
}

.RectangleDiv > div:first-child {
  width: 40%;
  height: 346px;
  background: rgba(0, 153, 255, 0.2);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-clip-path: polygon(0 25%, 100% 47%, 100% 100%, 0% 100%);
  clip-path: polygon(0 55%, 100% 19%, 100% 100%, 0% 100%);
}
.RectangleDiv > div:last-child {
  -webkit-clip-path: polygon(0 55%, 100% 24%, 100% 100%, 0% 100%);
  clip-path: polygon(0 55%, 100% 24%, 100% 100%, 0% 100%);
  width: 60%;
  height: 346px;
  background: rgba(0, 153, 255, 0.49);
}

.LoginMainSection {
  display: flex;
  /* height: 100%; */
  align-items: center;
  justify-content: center;
}
.LoginMainSection > div {
  width: 75%;

  background: #ffffff;
  box-shadow: 0px 0px 10px #003466;
  border-radius: 20px;
  padding: 20px;
}
.LoginMainSection > div > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  /* line-height: 60px; */
  text-align: center;
  letter-spacing: -0.28px;
  margin: 0;
  color: #333131;
}
.LoginMainSection > div > p {
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-left: 10px;
  margin-top: 0px;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.28px;
  color: #333131;
}
.LoginMainSection > div > div {
  width: 80%;
  margin: auto;
  /* height: 200px; */
}
.LoginMainSection > div > div > label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: #333131;
}
.InputBox {
  width: 95%;

  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #333131;
  border-radius: 12px;
}
.InputBox > input {
  height: 100%;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: rgba(0, 0, 0, 0.5);
}
.InputBox > input:focus {
  outline: none;
}
.LoginMainSection > div > div > button {
  width: 100%;
  height: 72px;
  border: none;
  margin-top: 20px;
  background: #003466;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}
.LoginMainSection > div > div > p {
  text-align: center;
  margin-top: 15px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: #333131;
  margin-bottom: 15px;
}
.GoogleBtn {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.28px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #333131;
}
.LoginMainSection > div > div > p > a {
  color: #003466;
}
.HelpText {
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.28px;
  color: #333131;
}
.OtpInputDiv > div > div {
  display: flex;
  width: 100%;
  justify-content: center;
}
.OtpInputDiv > div > div > input {
  width: 100%;
  /* border: 1px solid red; */
  background: #ffffff;
  border: 1px solid #003466;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: rgba(0, 0, 0, 0.5);
}
.ResendOTP > div {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ResendOTP > div > span {
  font-family: "Poppins";
  font-style: normal;
  /* font-weight: 600; */
  font-size: 20px;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: -0.28px;
  color: #003466;
}
.ResendOTP > div > button {
  /* border: 1px solid #003466; */
  border: none;
  border-radius: 5px;
  background-color: transparent;
  text-transform: uppercase;
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
  color: #003466;
}
