.Logo {
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-top: 43px;
  background: #d9d9d9;
  border-radius: 45.5px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #000000;
}
.RegisterMainDiv {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}
.RegisterMainDiv > div:first-child {
  width: 60%;
  /* border: 1px solid red; */
}
.RegisterMainDiv > div:last-child {
  width: 40%;
  /* border: 1px solid yellow; */
}
.RegisterFirstSection > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 40px;
  letter-spacing: -0.28px;
  color: #003466;
  margin-bottom: 10px;
}
.RegisterTitle {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
.RegisterTitle > div {
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px rgba(0, 41, 107, 0.25);
  font-size: 18px;
}
.RegisterTitle > div > h1 {
  font-size: 25px;
}
.RegisterTitle > p {
  font-family: "Poppins";
  font-style: normal;
  /* margin-top: 0; */
  font-weight: 600;
  font-size: 23px;
  line-height: 48px;
  letter-spacing: -0.28px;

  color: #000000;
}
.InputBoxMain {
  display: flex;
  justify-content: flex-end;
}
.InputBoxMain > div {
  width: 400px;
  margin-right: 35%;
}
.InputBox {
  width: 100%;
  position: relative;
  height: 50px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.textArea {
  width: 100%;
  position: relative;
  height: 125px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.textArea > textarea {
  /* height: 300px; */
  border: none;

  height: 90%;
  margin: 10px;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  /* font-size: 24px; */
  line-height: 36px;
  letter-spacing: -0.28px;
  color: rgba(0, 0, 0, 0.5);
}
.textArea > textarea:focus {
  outline: none;
}
.textArea > span {
  position: absolute;
  top: -18px;
  left: 5%;
  background-color: white;
  padding: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.28px;

  color: rgba(0, 0, 0, 0.5);
}
.InputBox > span {
  position: absolute;
  top: -18px;
  left: 5%;
  background-color: white;
  padding: 5px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  letter-spacing: -0.28px;

  color: rgba(0, 0, 0, 0.5);
}
.InputBox > input {
  border: none;
  height: 80%;
  margin: 10px;
  width: 50%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  /* font-size: 24px; */
  line-height: 36px;
  letter-spacing: -0.28px;
  color: rgba(0, 0, 0, 0.5);
}
.InputBox > input:focus {
  outline: none;
}
.InputBox > select {
  border: none;
  height: 90%;
  margin: 10px;
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: rgba(0, 0, 0, 0.5);
}
.InputBoxMain > div  > button {
  display: block;
  width: 300px;
  height: 60px;
  border: none;
  margin: auto;
  margin-top: 20px;
  background: #003466;
  border-radius: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.28px;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 50px;
}
