.SideBarMain {
  width: 314px;
  height: 789px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 10px;
}
.SideBarMain > h1 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-top: 5px;
  letter-spacing: -0.28px;
}
.SideBarMain > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SideBarMain > div > div {
  text-align: center;
}
.SideBarMain > div > div > img {
  width: 120px;
  height: 121px;
  border-radius: 50%;
}
.SideBarMain > div > div > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.28px;
}
.SideBarMain > div > div > p {
  font-family: "Poppins";
  font-style: normal;
  margin-top: -10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.28px;
  color: rgba(0, 0, 0, 0.5);
}
.TotalBudgetDiv {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 15px;
}
.TotalBudgetDiv > h1:first-child {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: -0.28px;
}
.TotalBudgetDiv > h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  margin: 0;
  letter-spacing: -0.28px;
}
.LinkBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.LinkBox > a {
  text-decoration: none;
}
.active {
  width: 250px;
  height: 65px;
  padding-left: 10px;
  padding-right: 10px;
  background: #003466;
  box-shadow: 0px 0px 32px 4px rgba(0, 52, 102, 0.25);
  border-radius: 12px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.unactive {
  width: 250px;
  height: 65px;
  display: flex;

  color: #003466;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.unactive,
.active > p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.28px;
}
