body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}



/* Dashboard */

.dass{
  background-color: #f4f4f4;
  padding-bottom: 100px;
}

.dass1{
  display: flex;
  width: 100%;
  padding-top: 30px;
  gap: 10px;
}


.dass2{
  margin-top: 50px;
}




/* totalamountsection19 */




.totalamountsection1 {
}

.totalamountsection2 {
  display: flex;
  gap: 20px;
}

.totalamountsection3 {
  width: 80%;
  height: 124px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #0034664d;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.totalamountsection4{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.totalamountsection4 h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #333131;
  margin: 0;
}

.totalamountsection4 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 48px;
  color: #003466;
  margin: 0;
}


.totalamountsection5{
  display: flex;
  gap: 20px;
}

.totalamountsection5 h4{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  color: #333131;
  margin: 0;
}



.totalamountsection6{
  width: 343px;
  height: 124px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}


.totalamountsection6 h6{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
}


.totalamountsection6 h3{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}



.totalamountsection7{
  display: flex;
  gap: 10px;
  margin-top: 30px;
}



.totalamountsection8{
  width: 330px;
  height: 204px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}


.totalamountsection9{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}


.totalamountsection10{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.totalamountsection10 h6{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  margin: 0;
}


.totalamountsection11{
  display: flex;
  justify-content: space-around;
}
.totalamountsection11 h6{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin: 0;
}

.totalamountsection12{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.totalamountsection13{
  display: flex;
  align-items: center;
  gap: 5px;
}

.totalamountsection13 h6{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  text-decoration: underline;
}


.totalamountsection14{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #007C35;
}

.totalamountsection15{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #F6B100;
}
.totalamountsection16{
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #DD0606;
}



.totalamountsection17{
  margin-top: 10px;

}


.totalamountsection17 h3{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #000000;
  margin: 0;
}


.totalamountsection18{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}


.totalamountsection19{
  width: 500px;
  height: 350px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}





/* LatestTransactions */


.latesttransactions2{
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin: auto;
}


.latesttransactions2 h6{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #333131;
  margin: 0;
}


.latesttransactions3{
  display: flex;
  gap: 20px;
  cursor: pointer;
}


.latesttransactions3 button{
  width: 90px;
  height: 32px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: #2A3A8F;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}



.latesttransactions4{
  border-top: 2px solid #D9D9D9;
  width: 98%;
  margin: auto;
  margin-top: 10px;
}


.latesttransactions4 table{
  width: 100%;
  margin-top: 20px;
}


.latesttransactions4 table tr{
  text-align: center;
}


.latesttransactions4 table th{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
  color: #000000;
}



.latesttransactions4 table td{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  color: #000000;
  padding-top: 20px;
  cursor: pointer;
}



.latesttransactions5{
  text-align: end;
  margin-top: 20px;
  cursor: pointer;
}


.latesttransactions5 p{
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #003466;
  text-decoration: underline;
  margin: 0;
}